:root {
	--mainBg: #111122;
	--titleBg: #6f00ff;
	--fontColor: #ffffff;
	--buttonBg: #00ffff;
	--buttonHoverBg: #ffffff;
	--formBg: #111126;
}

body {
	margin: 0;
	color: var(--fontColor);
}

.btn-cmd {
	background: var(--buttonBg);
	margin-right: 5px;
}

.btn-cmd:hover {
	background: var(--buttonHoverBg);
}

.header {
	background: var(--titleBg);
	height: fit-content;
}

.content {
	padding: 20px;
	background: var(--mainBg);

	height: 100%;
}

.description {
	color: var(--fontColor);
}

#gradient-container {
	padding: 10px;
	height: fit-content;
	width: fit-content;
	background-color: rgba(52, 40, 100, 0.3);
	border-width: 3px;
	border-color: rgb(26, 20, 50);
	border-radius: 20px;
	border-style: solid;
}

#gradient-preview {
	height: 200px;
	width: 100%;
	border-radius: 5px;
}

.gradient-color {
	border-radius: 5px;
	height: 100%;
	flex-grow: 1;
}

.gradient-color:hover {
	cursor: pointer;
}

.color-container {
	display: flex;
	margin-top: 5px;
	height: 30px;
}

.remove-color {
	color: var(--fontColor);
	margin-right: 5px;
	height: 30px;
	width: 30px;
}

.color-input {
	width: 60px;
	margin-left: 5px;
	background-color: #112;
	border: 1px solid #224;
	border-radius: 5px;
	text-align: center;
	color: var(--fontColor);
}

.form-button {
	background-color: rgba(0, 0, 0, 0.5);
	border: 1px solid #224;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.2);
}

.form-button:hover {
	cursor: pointer;
	background-color: rgba(146, 146, 146, 0.2);
}

#add-gradient-color {
	text-align: center;
	margin-top: 5px;
	height: 30px;
}

#add-gradient-color span {
	display: block;
}

#title {
	margin-top: 0;
	padding: 20px;
	color: #ffffff;

	margin-bottom: 0;
}

#slider-container {
	display: flex;
	flex-wrap: wrap;
}

#slider-container div {
	padding-right: 20px;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: fit-content;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	background-color: var(--formBg);
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

.test-gradient {
	background-image: linear-gradient(to right, #00ffff, #0000ff, #ff00ff);
}

#color-canvas {
	border-radius: 5px;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
