:root {
	--mainBg: #111122;
	--titleBg: #6f00ff;
	--fontColor: #ffffff;
	--buttonBg: #00ffff;
	--buttonHoverBg: #ffffff;
	--formBg: #111126;
}

body {
	margin: 0;
	color: var(--fontColor);
	overflow: hidden;
}

.btn-cmd {
	background: var(--buttonBg);
	margin-right: 5px;
}

.btn-cmd:hover {
	background: var(--buttonHoverBg);
}

.header {
	background: var(--titleBg);
	height: fit-content;
}

.content {
	padding: 20px;
	background: var(--mainBg);

	height: 100%;
}

.description {
	color: var(--fontColor);
}

#gradients-container {
	display: flex;
	flex-wrap: wrap;
	padding: 0px 10px 10px 0px;
	height: fit-content;
	width: fit-content;
	background-color: rgba(52, 40, 100, 0.3);
	border-width: 3px;
	border-color: rgb(26, 20, 50);
	border-radius: 20px;
	border-style: solid;
}

#gradient-preview {
	height: 100px;
	width: 100%;
	border-radius: 5px;
}

.gradient-wrapper {
	margin: 10px;
	width: 300px;
	height: 150px;
}

.gradient-header {
	height: 35px;
	width: 300px;
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 3;
	position: absolute;
	border-radius: 16px 16px 0px 0px;
}

.gradient-name {
	transform: translateX(40px) translateY(3px);
}

.gradient {
	position: absolute;
	border-radius: 20px;
	z-index: 1;
	border: 5px solid #1b1836;
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.selected {
	border: 5px solid rgb(0, 0, 255);
}

.gradient-color {
	border-radius: 5px;
	height: 100%;
	flex-grow: 1;
}

.gradient-color:hover {
	cursor: pointer;
}

.color-container {
	display: flex;
	margin-top: 5px;
	height: 30px;
}

.remove-color {
	color: var(--fontColor);
	margin-right: 5px;
	height: 30px;
	width: 30px;
}

.color-input,
.color-location,
#gradient-name-input {
	margin-right: 5px;
	margin-left: 5px;
	background-color: #112;
	border: 1px solid #224;
	border-radius: 5px;
	text-align: center;
	color: var(--fontColor);
}

.color-input,
.color-location {
	width: 60px;
}

#gradient-name-input {
	width: 300px;
	height: 38px;
}

.form-button {
	background-color: rgba(0, 0, 0, 0.5);
	border: 1px solid #224;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.2);
}

.form-button:hover {
	cursor: pointer;
	background-color: rgba(146, 146, 146, 0.2);
}

#add-gradient-color {
	text-align: center;
	margin-top: 5px;
	height: 30px;
}

#add-gradient-color span {
	display: block;
}

#title {
	margin-top: 0;
	padding: 20px;
	color: #ffffff;

	margin-bottom: 0;
}

#slider-container {
	display: flex;
	flex-wrap: wrap;
}

#slider-container div {
	padding-right: 20px;
}

.modal {
	display: none;
	position: fixed;
	z-index: 3;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	background-color: var(--formBg);
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	max-width: 800px;
	top: 100px;
}

.test-gradient {
	background-image: linear-gradient(to right, #00ffff, #0000ff, #ff00ff);
}

#color-canvas {
	margin-bottom: 10px;
	border-radius: 5px;
	position: relative;
}

#color-slider {
	margin-bottom: 10px;
	border-radius: 5px;
	position: relative;
}

#color-picker-wrapper {
	background-color: var(--mainBg);
	border: 1px solid #fff;
	border-radius: 5px;
	padding: 15px;
	height: fit-content;
	width: fit-content;
	z-index: 2;
}

#canvas-marker {
	position: absolute;
	height: 15px;
	width: 15px;
	border: 1px solid #fff;
	border-radius: 15px;
	box-shadow: 0 0 0 1px hsl(0, 0%, 80%);
}

#slider-marker {
	position: absolute;
	height: 36px;
	width: 15px;
	border: 1px solid #fff;
	border-radius: 5px;
	box-shadow: 0 0 0 1px hsl(0, 0%, 80%);
}

#input-wrapper {
	margin-top: 5px;
}

.close {
	cursor: pointer;
}

.form-error {
	color: #f00;
	background-color: #fff;
	border: #000 solid 1px;
	border-radius: 5px;
	padding: 5px;
	width: fit-content;
}

.gradient:hover,
.gradient:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.remove-gradient {
	position: absolute;
	width: 32px;
	height: 32px;
	opacity: 0.3;
	z-index: 2;
	margin: 2px;
}
.remove-gradient:hover {
	opacity: 1;
}
.remove-gradient:before,
.remove-gradient:after {
	position: absolute;
	left: 15px;
	content: " ";
	height: 33px;
	width: 2px;
	background-color: #333;
	border: 1px solid #000;
}
.remove-gradient:before {
	transform: rotate(45deg);
}
.remove-gradient:after {
	transform: rotate(-45deg);
}
